@import 'variables/_colors';

.grid-container {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: 300px 300px;
}

.item {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 190px;

  &:first-child{
    border-right: 2px solid $green;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    width: 190px;

  }
}

.cont-logo {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 110px;
}

.logo {
  padding: 5px;
  width: 100%;
}

.name, .date, .info {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 12px;
}

.name {
  font-size: 16px;
  padding: auto;
}

.date {
  font-weight: bold;
  font-size: 14px;
}

.info {
  font-size: 12px;
}

@media screen and (max-width: 1024px) {

  .grid-container {
    grid-template-columns: repeat(1, max-content);
  }

  .item {
    border-bottom: 2px solid $green;
    margin-top: 30px;

    &:first-child{
      grid-row: auto;
      border-right: none;
      height: 100%;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
