@import 'variables/_colors';

.cont-tech {
  display: flex;
  height: 400px;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 40px auto;
  max-width: 1000px;
  width: 100%;
}

.technology{
  background-color: $green;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 250px;
  margin: 40px 10px 0px 30px;
  position: relative;
  width: 190px;

    &::before {
      border-radius: 5px;
      border-style: solid;
      border-color: $green;
      background-color: $white;
      content: '';
      height: 280px;
      position: absolute;
      left: -12px;
      top: -12px;
      width: 190px;
      z-index: -1;
  }
}

.technology:hover{
  &::before{
    left: 12px;
    top: 12px;
  }
}

.cont-logo {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	height: 100px;
	width: 110px;
}

.logo{
	height: 100px;
	padding: 12px;
	width: 110px;
}

.name, .date, .info {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 12px;
}

.name {
  font-size: 16px;
  padding: auto;
}

.date {
  font-weight: bold;
  font-size: 14px;
}

.info{
  font-size: 12px;
}
