$title-coration-width: 100px;
$title-coration-height: 90px;

.title {
  align-items: center;
  display: flex;
  font-size: 24px;
  margin: 30px 150px -30px;

  &::before {
    background: url('../assets/triangle.svg') no-repeat;
    content: '';
    height: $title-coration-height;
    left: $title-coration-width / 2;
    position: relative;
    width: $title-coration-width;
    z-index: -1;
  }
}

@media only screen and (max-width: 1024px){
  .title{
    justify-content: center;
    margin: 20px 30px 0px 0px;
  }
}
